
<table>
  <thead>
    <tr>
      <th>Encabezado 1</th>
      <th>Encabezado 2</th>
      <th>Encabezado 3</th>
      <th>Encabezado 4</th>
      <th>Encabezado 5</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Data 1A</td>
      <td>Data 1B</td>
      <td>Data 1C</td>
      <td>Data 1D</td>
      <td>Data 1E</td>
    </tr>
    <tr>
      <td>Data 2A</td>
      <td>Data 2B</td>
      <td>Data 2C</td>
      <td>Data 2D</td>
      <td>Data 2E</td>
    </tr>
    <tr>
      <td>Data 3A</td>
      <td>Data 3B</td>
      <td>Data 3C</td>
      <td>Data 3D</td>
      <td>Data 3E</td>
    </tr>
  </tbody>
</table>